<?xml version="1.0" encoding="utf-8"?>
<QCPRConfig opMode="practise">
  <!--脚本操作时间 enable="" /-->
  <scriptTime enable="true">120</scriptTime>
  <!--QCPR条件 enable="" /-->
  <interruptTime enable="true">20</interruptTime>
  <CCF enable="true">60</CCF>
  <PRightPce enable="true">70</PRightPce>
  <BRightPce enable="true">70</BRightPce>
  <PRatePce enable="true">70</PRatePce>
  <CPRRule type="speciality">
    <cycleOpNumber value="5"/>
    <parameters>
      <pressureRule>
        <depthRange lower="50" over="60"/>
        <rateRange lower="100" over="120"/>
      </pressureRule>
      <breathRule>
        <volumeRange lower="500" over="1000"/>
        <ventiTimeRange lower="500" over="1500"/>
      </breathRule>
    </parameters>
  </CPRRule>
</QCPRConfig>
